body {
	background:none repeat scroll 0 0 #fff;
	line-height:1;
	margin:10px auto;
	width:35em;
	font-family: helvetica, arial;
	font-size: 1em;
	line-height:24px;
	text-align:left;
}

a { color:black; text-decoration:none; }
a:hover { color:#a00; }

header, footer, article { font-size:1em; padding:0.5em; margin:0.5em 0em;}

header { 
	font-size:2.5em;
	height:0.5em;
	padding:1.5em 0;
	text-align:right;
	text-shadow:2px 2px rgba(200, 200, 200, 0.6);
	background: transparent url(../images/eagle-128.png) no-repeat top left;
}

article { border: 1px solid #ccc; min-height:15em;}
article p { padding:0.5em; font-size:1.5em; color:#444; }

article p.online { color:#006E2E; }
article p.offline { color:#a00; }

footer { width:100%; font-size:0.9em; }
footer ul { float:right; list-style-type:none; }
footer ul li { display:inline; }
footer ul li a { text-transform:uppercase; padding:0 5px; }




